<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>$title</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <td>尊敬用户：
        	邮件模板测试！<a href="/" title="东虹桥金融在线"><em>$name</em></a></td>
            </tr>
         
        </table>
    </body>
</html>